*{
  margin: 0;
  padding: 0;
}

body{
  font-family: montserrat, Arial, Helvetica, sans-serif;
  background-color: #4d4d4d;
}


nav{
  width: 100%;
  background-color: pink;
  position: sticky;
  top: 0;
}

nav h2{
  font-size: 18px;
  font-family: montserrat;
  display: inline-block;
  list-style: none;
  margin: 5px 10px 5px 15px;
  padding: 5px;
}

nav a{
  color: black;
  text-decoration: none;
}

nav a:hover{
  color: blue;
}

.all-blog-cards{
  padding-top: 2em;
  width: 60%;
  margin: auto;
}

.blog-card{
  margin-bottom: 3em;
  background-color: #fcf0f3;
  border: transparent;
  border-radius: 15px;
}

 
.about-all-blog-cards{
 padding: 5%;
  width: 60%;
  margin: auto;
  top: 50%;
  position: relative;

}

.image-wrapper{
  width: 100%;
  min-height: 40%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  
}

.blog-img{
max-width: 100%;

}

.blog-header{
  padding-bottom: 2em;
}

.blog-title{
  padding-bottom: 1em;
}

.blog-content{
  margin: 1em 2em;
}

.week{
  float: left;
}

.topic{
  margin-left: 1em;;
  float: left;
}

.blog-p{
  padding-bottom: 1.5em;
}